/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ‘Poppins’, sans-serif;
}

body {
  background-image: url("/static/img/landing_background.jpg");
  background-size: cover;
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-clip: content-box;
  /* height: 200vh; */
  overflow-x: hidden;
  overflow-y: auto;
  /* color: white; */
}

#root {
  display: block;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  /* color: white; */
}

.container {
  display: flex;
  /* place-items: center; */
  text-align: center;

  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

  width: 100%;
  min-height: 50vh;
  /* height: 80vh; */
  /* flex-wrap: nowrap; */
}

.auth-form-container {
  display: flex;
  flex-direction: column;
}

/*** landing main info ***/
.landing-intro {
  height: 33.33vh; /* Set the row height to one-third of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  display: flex;
} */

.center {
  display: flex;
  height: 150px;
  width: 600px;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */

  height: 80vh;
  /* place-content: flex-start center; */
  flex-wrap: nowrap;
}

/**************** Instruction Box ****************/
.steps {
  width: 600px;
  background-color: rgba(247, 247, 247, 0.5);
  border-radius: 7px;
  padding: 25px 25px;
  margin: 20px auto;
  color: black;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  height: 40px;
  width: 120px;
  background-color: #e7e7e7;
  /* border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.numbers .active {
  background-color: #808080;
  color: #fff;
}

.message {
  text-align: center;
  font-size: 20px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.buttons button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 13px;
  /* font-weight: bold; */

  display: flex;
  align-items: center;
  gap: 10px;
}

/************** Copyright Footer ****************/
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

/******** Login *********/
/* .login_bg {
  background-color: white;
} */

.login-form {
  display: flex;
  flex-direction: column;
}

.content {
  text-align: center;
  width: 360px;
  border-radius: 10px;
  padding: 40px 30px;
  margin-top: 100px;
  background: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(20px);
  /* flex-direction: column; */
}

/* .content1 {
  display: grid;
  place-items: center;
  text-align: center;
  background-size: cover;
} */

.content .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px;
  color: rgb(247, 233, 233);
}

/* .content .field {
  height: 50px;
  width: 100%;
  display: flex;
  position: relative;
} */

.field input {
  height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #e0d2d2;

  border-radius: 8px;
  background: rgba(19, 18, 18, 0);
  backdrop-filter: blur(20px);
}

.field input::placeholder {
  color: #e0d2d2a6;
}

.field:nth-child(2) {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}

.field span {
  position: absolute;
  width: 50px;
  line-height: 50px;
  color: #ffffff;
}

.login_button {
  white-space: nowrap;
  margin: 10px, 25px, 25px, 25px;
  width: 100%;
  height: 50px;
  color: rgb(238, 226, 226);
  font-size: 18px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.home_button {
  white-space: nowrap;
  margin: 25px, 25px, 25px, 25px;
  width: 100%;
  height: 50px;
  color: rgb(238, 226, 226);
  font-size: 18px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
}

.no-acct {
  /* color: white; */
  margin: 25px;
  color: rgb(238, 226, 226);
}

.sign_up {
  margin: 10px;
}
/* .field .row {
  display: flex;
  align-items: center;
} */

/* label {
  display: block;
  margin-bottom: 5px;
} */

label {
  font-size: 16px;
  font-weight: 600;
  /* margin-bottom: 35px; */
  color: rgb(247, 233, 233);
  text-align: left;
  padding-left: 15px;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.home-btn {
  padding-bottom: 20px;
}

.login-btn {
  padding-bottom: 20px;
  padding-top: 10px;
}

/* .label-text {
  text-align: left;
  margin-bottom: 0px;
  padding-left: 15px;
} */

/* .email-field {
  display: flex;
  justify-content: left;
} */
/******** Register *********/
