{% extends 'base.html' %} 


{% block title %} Inner-Join {% endblock %} 


{% block body %}
<div id="root"></div>
{% endblock %} 


{% block js %}
<!-- <script src="/static/js/wrapper/LandingPage.js" type="text/jsx"></script> -->
<script src="/static/js/components/Landing.jsx" type="text/jsx"></script>

<!-- <script src="/static/js/components/Login.jsx" type="text/jsx"></script>
<script src="/static/js/components/Register.jsx" type="text/jsx"></script> -->
<!-- <script src="/static/js/components/Components.jsx" type="text/jsx"></script> -->
{% endblock %}
