{% extends 'base.html' %} 


{% block title %} Inner-Join {% endblock %} 


{% block body %}
<div id="root"></div>
{% endblock %} 


{% block js %}

<script src="/static/js/components/RegisterFormField.jsx" type="text/jsx"></script>
<script src="/static/js/pages/Landing.jsx" type="text/jsx"></script>
<script src="/static/js/pages/Login.jsx" type="text/jsx"></script>
<script src="/static/js/pages/Register.jsx" type="text/jsx"></script>
<script src="/static/js/pages/PageNotFound.jsx" type="text/jsx"></script>
<script src="/static/js/App.jsx" type="text/jsx"></script>

{% endblock %}
