{% extends 'base.html' %} {% block title %} InnerJoin {% endblock %} {% block
body %}
<div id="root" class="container-fluid"></div>
{% endblock %} {% block js %}
<script src="/static/js/utils/utils.js"></script>
<script
  src="/static/js/components/RegisterFormField.jsx"
  type="text/jsx"
></script>
<script src="/static/js/components/Dialog.jsx" type="text/jsx"></script>
<script src="/static/js/components/InstructionBox.jsx" type="text/jsx"></script>
<script
  src="/static/js/components/CopyrightFooter.jsx"
  type="text/jsx"
></script>
<script src="/static/js/components/NavBar.jsx" type="text/jsx"></script>
<!-- <script src="/static/js/components/GroupMember.jsx" type="text/jsx"></script> -->
<script src="/static/js/components/GeneralInfo.jsx" type="text/jsx"></script>
<script src="/static/js/components/CategoryInfo.jsx" type="text/jsx"></script>
<script src="/static/js/components/GroupCard.jsx" type="text/jsx"></script>
<script
  src="/static/js/components/GroupMemberTable.jsx"
  type="text/jsx"
></script>
<script src="/static/js/pages/Landing.jsx" type="text/jsx"></script>
<script src="/static/js/pages/Login.jsx" type="text/jsx"></script>
<script src="/static/js/pages/Register.jsx" type="text/jsx"></script>
<script src="/static/js/pages/RegisterSuccess.jsx" type="text/jsx"></script>
<script src="/static/js/pages/SelectCategory.jsx" type="text/jsx"></script>
<script src="/static/js/pages/AllUserInfo.jsx" type="text/jsx"></script>
<script src="/static/js/pages/ChatRoom.jsx" type="text/jsx"></script>
<script src="/static/js/pages/MyGroups.jsx" type="text/jsx"></script>
<script src="/static/js/pages/PageNotFound.jsx" type="text/jsx"></script>
<script src="/static/js/App.jsx" type="text/jsx"></script>

{% endblock %}
